<html lang="en">
<head>
    <title>JNation Media TV</title>
    <meta http-equiv="refresh" content="15" />
    <base href="/">
    <style>
        *, html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        body {
            width: 100vw;
            height: 100vh;
            background: #000;
        }
        iframe {
            border: 0;
            display: block;
            width: 100vw;
            height: 100vh;
        }
        img {
            display: block;
            width: 100vw;
            height: 100vh;
            object-fit: contain;
        }
    </style>
</head>
<body>

{#if isImage}
<img src="{url}" alt="">
{#else}
<iframe src="{url}" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
{/if}

</body>
</html>
